{% set gitolite = {
    'users': ['git'],
    'shell': '/bin/bash',
    'home': '/home',
    'revision': 'v3.6.1',
    'repository_url': 'https://github.com/garethhowell/gitolite-formula.git',
    'ssh_pubkey': Undefined
  }
%}

{% do gitolite.update(salt['pillar.get']('gitolite')) %}
